body {
  margin: 0;
  font-family: "Ubuntu Condensed";
  background-color: #F4C095;
  box-sizing: border-box;
  font-size: 1.2em;
}

.navbar {
  background-color: #071E22;
  color: #679289;
  text-align: center;
  padding: 10px;
  font-size: 42px;
  position: fixed;
  width: 100%;
}

.main {
  display: grid;
  padding-top: 68px;
  grid-template-columns: 2fr 4fr;
}

.main__tweet-generator, .main__tweets {
  max-width: 400px;
  padding: 20px;
}

.main__tweets {
  box-shadow: 0 3px 0 #F4C095, 0 14px 10px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  min-height: 100vh;
}

.tweet-generator__perfil {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 0 #679289, 0 10px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: #679289;
  margin-bottom: 50px !important;
}

.perfil__nombre-de-usuario, .perfil__imagen-de-usuario {
  padding-bottom: 10px;
}

button {
  text-align: center;
}

.perfil__button {
  text-align: center;
}
.perfil__button button {
  background-color: #071E22;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
}

.plantilla-tweets {
  background-color: #679289;
  box-shadow: 0 3px 0 #679289, 0 10px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  display: none;
}
.plantilla-tweets img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.plantilla-tweets--mostrar {
  display: block;
  transition: 1s;
}

.plantilla-tweets__perfil {
  margin-bottom: 10px;
}

#texto-tweet {
  max-width: 80%;
  margin-bottom: 10px;
}

.publicar-tweet button {
  background-color: #071E22;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 70%;
}

.plantilla-publicacion {
  background-color: #679289;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 3px 0 #679289, 0 10px 6px rgba(0, 0, 0, 0.25);
  display: none;
}
.plantilla-publicacion img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  float: left;
  padding: 10px;
  background-color: #679289;
}
.plantilla-publicacion h3 {
  display: block;
  border-bottom: solid 1px #071E22;
  margin-left: 110px;
  margin-right: 20px;
  padding: 10px;
}

.plantilla-publicacion--mostrar {
  display: block;
}

.publicacion__text {
  margin-left: 110px;
  margin-right: 20px;
  min-height: 50px;
}

.publicacion__social {
  font-size: 28px;
  border-top: #071E22 solid 1px;
  margin: 0 20px 0 20px;
  padding: 10px;
}
.publicacion__social .fa-trash {
  float: right;
  cursor: pointer;
}
.publicacion__social .fa-heart {
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 760px) {
  .main {
    grid-template-columns: 1fr;
  }

  .plantilla-tweets, .tweet-generator__perfil, .plantilla-publicacion {
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width: 512px) {
  .main {
    grid-template-columns: 1fr;
  }

  .plantilla-tweets, .tweet-generator__perfil, .plantilla-publicacion {
    max-width: 90vw;
    margin: auto;
  }

  .navbar {
    font-size: 38px;
  }

  .main__tweet-generator, .main-tweets {
    padding: 5px;
  }
}

/*# sourceMappingURL=mystyle.css.map */
